/*
 This file only extends base class which defined in evil-icons node package
*/

:global(.icon) {
  stroke: currentColor;
  transition: all 300ms;
}

:global(.icon--s) {
  width: 20px;
  height: 20px;
}

:global(.icon--payment-visa),
:global(.icon--payment-master-card),
:global(.icon--payment-dinners-club),
:global(.icon--payment-amex),
:global(.icon--payment-discover),
:global(.icon--payment-jsb) {
  width: 44px;
  height: 30px;
}